<%- include("components/header") %>

<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Thank you for this for message..!</h2>
                <p><b>Name: </b><%= name %></p>
                <p><b>@ Email: </b><%= email %></p>
                <p><b>Title: </b><%= title %></p>
                <p><b>Message: </b><%= message %></p>
            </div>
        </div>
    </div>
</main>

<%- include("components/footer") %>
